#website-title {
    font-size: 80px;
    font-weight: 400;
    margin-left: 24%;
    margin-right: 18%;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    
}

#title{
    border: 6px solid black;
    background-color:rgb(189, 184, 168);
}

html {
    background-color:antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 50px 200px 300px 200px;
}

#filter {
    display: inline-block;
    vertical-align: text-top;
    width: 50px;
    height: 50px;
    margin-left: 10%;
    padding: 0%;
    border-radius: 5%;
    transform: rotate(0deg);
    border-width: 5px;
    border-color: black;
}

#filter-icon {
    display:inline-block;
    vertical-align: middle;
    margin: auto;
    width: 36px;
    height:36px;
    background-color: rgb(236, 230, 230);
}



#filter-part {
    position: absolute;
    top:18.5%;
    padding: 6px 10px;
    border: 4px solid rgb(58, 53, 53);;
    margin-left: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    display:none;

}



#filter-input {
    width:100px;
    height: 30px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    letter-spacing: 20px;
    padding-left: 10px;
    font-weight: 500;
    background-color: rgb(235, 235, 235);
    text-align:justify;
}

#filter-check {
    width:30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 15%;
    font-size: 20px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(46, 66, 97);
    color: white;
    vertical-align: middle;
    display: inline-block;
}


#context {
    text-align: left;
    z-index: 1;
    vertical-align: top;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    margin-left: 0px;
    margin-right: 0px;
    background:
        conic-gradient(from 90deg at 1.2px 1.2px,#0000 90deg,rgb(0, 0, 0) 0) 
        0 0/18px 18px;
        background-color: rgb(248, 245, 239);
}

#card-place {
    z-index: 2;
    text-align: left;
    position: relative;
    width:100%;
    display: block;
    padding-bottom: 600px;
}

#add-diary {
    background-color:rgb(117, 106, 91);
    border-color:antiquewhite;
    text-decoration: underline;
    font-style: italic;
    color:white;
    border-radius: 15%;
    border-width: 3px;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    vertical-align: text-top;
}


#diary-browse-window {
    vertical-align:top;
    position:fixed;
    top: 20%;
    width: 60%;
    height: 64%;
    z-index: 3;
    border: 7px solid black;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: white;
    display: none;
} 

#topline-edit {
    z-index: 1;
    border-bottom: 5px solid black;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: rgb(175, 151, 120);
}

#topline {
    z-index: 1;
    border-bottom: 5px solid black;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: rgb(120, 135, 175);
}

#diary-edit-window {
    text-align: center;
    top: 20%;
    vertical-align:top;
    position:fixed;
    width: 60%;
    height: 64%;
    z-index: 3;
    border: 7px solid black;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: white;
    display: none;
} 

#close-button-edit {
    position: relative;
    display: block;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 7px 10px;
    border-radius: 15%;
    margin-left: 95.5%;
    margin-top: 0%;
    border-color: rgb(250, 227, 218);
    border-width: 3px;
}

#close-button-browse {
    position: relative;
    display: block;
    font-size: 18px;
    background-color: red;
    margin-left: 95.5%;
    margin-top: 0px;
    color: white;
    padding: 7px 10px;
    border-radius: 15%;
    border-color: rgb(250, 227, 218);
    border-width: 3px;
}

#window-title {
    font-size: 28px;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 3%;
    text-decoration: underline;
    display: block;
}

#save-button {
    font-style: italic;
    font-size: 18px;
    border-color: rgb(197, 177, 152);
    background-color: rgb(117, 106, 91);
    color: white;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 4%;
    padding: 11px 24px;
    border-radius: 15%;
}

#edit-button {
    font-style: italic;
    font-size: 18px;
    border-color: rgb(85, 133, 189);
    background-color: rgb(23, 32, 87);
    color: white;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 2.5%;
    padding: 11px 25px;
    border-radius: 15%;
    border-width: 3px;
}

#window-body
{
    text-align: center;
    display: block;
}

#input1
{
    white-space:pre;
    font-size:x-large;
    font-weight: 700;
    margin-top: 18%;
}

#input2
{
    white-space:pre;
    font-size:x-large;
    font-weight: 700;
    margin-top: 12%;
}

#input3
{
    white-space:pre;    
    font-size:x-large;
    font-weight: 700;
    margin-top: 12%;
} 

#input4
{   
    position: relative;
    display:block;
} 




#ip1 {
    letter-spacing: 1px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    text-align:left;
    margin-left: 0%;
}


#ip2 {
    letter-spacing: 1px;
    position: relative;
    vertical-align: top;
    text-align:left;
    display: inline-block;
    margin-top: 2.5%;
    margin-left: 25%;
}

#date-input {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 18px;
    padding: 8px 50px;
    background-color: rgb(197, 177, 152);
}

#date-id {
    white-space: pre;
}

#mood-input, #label-input {
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 18px;
    padding: 7px 100px;
    background-color: rgb(197, 177, 152);
}

#content-input {
    font-size: 18px;
    padding: 120px 50px;
    display: inline-block;
}

textarea {
    overflow: scroll;
    resize: none;
    background-color: rgb(238, 238, 238);
}

#title-date {
    position: relative;
    display:inline-block;
    vertical-align: text-bottom;
    margin-left: 10%;
    margin-top: 5%;
    text-decoration: underline;
    font-size: 28px;
    letter-spacing: 5px;
}

#label {
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 500;
    margin-left: 32%;
    margin-right: 5%;
    position: relative;
    vertical-align: text-bottom;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12%;
    padding: 10px 18px;
    background-color: rgb(165, 189, 255);
    box-shadow: 10px;
}

#mood {
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    vertical-align: text-bottom;
    display: inline-block;
    border: 3px solid black;
    border-radius: 12%;
    padding: 10px 18px;
    background-color: rgb(225, 179, 255);
}

#content-place {
    border: 3px solid black;
    border-radius: 3%;
    background-color: rgb(238, 238, 238);
    display: flex;
    position: relative;
    text-align: center;
    justify-content:center;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    height: 300px;
}

#content {
    position: relative;
    text-align:left;
    font-size: medium;
    word-wrap:break-word;
    overflow: scroll;
    letter-spacing: 2px;
    line-height: 25px;
    width: 80%;
    height: 60%;
    margin: auto;
    display:block;
    font-weight: 400;
}

.diary-card {
    text-align:center;
    block-size: 100px;
    padding-top:20px;
    padding-bottom: 95px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10%;
    /*border-top-left-radius: 5%;
    border-bottom-right-radius: 3%;*/
    justify-self: start;
    display:inline-block;
}

.card-date {
    white-space:pre;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

.card-label {
    z-index: 0;
    position: relative;
    font-size: medium;
    margin-left: 5px;
    text-align: center;
    border: 3px solid black;
    background-color: rgba(247, 156, 140, 0.76);
    line-height: 30px;
    border-radius: 15%;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: 500;
}

.card-mood{
    z-index: 0;
    position: relative;
    font-size: medium;
    text-align: center;
    border: 3px solid black;
    line-height: 30px;
    background-color: rgb(255, 187, 131);
    border-radius: 15%;
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: 500;
}

.preview {
    z-index: 0;
    position: relative;
    width: 320px;
    height: 85px;
    margin: auto;
    margin-top: 2%;
    border-radius: 5%;
    text-align: center;
    vertical-align: middle;
    display: flexbox;
    background-color: rgb(235, 235, 235);    
}

.preview-content {
    text-align: left;
    position: absolute;
    letter-spacing: 1px;
    font-weight: 300;
    width:95%;
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: top;
    white-space:normal;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.decor {
    border-bottom: 32px solid rgb(165, 155, 142);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    z-index: -1;

    width: 130px;
    height:0px;
    margin-top: -3.2%;
    margin-left: 5%;
    position: absolute;
}

.decor2 {
    border-bottom: 32px solid rgb(110, 108, 108);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    z-index: -2;

    width: 130px;
    height:0px;
    margin-top: -3.2%;
    margin-left: -2%;
    position: absolute;
}







